body {
    font-family: "Montserrat";
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

.container-fluid {
    padding: 3% 15%;
}
h1 {
    font-family: "montserrat-black";
    font-size: 3rem;
    line-height: 1.5;
}

h2 {
    font-family: "Montserrat-Bold";
    font-size: 3rem;
    line-height: 1.5;
}


/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-item {
    padding: 0 18px;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
    /* padding-bottom: 3rem; */
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
    padding-top: 0;
}

/* Download Button */

.download-button {
    margin: 5% 3% 5% 0;
}

/* Title-image */

.title-img {
    width: 80%;
    transform: rotate(25deg);
}

/* Features Section */

#features {
    text-align: center;
    padding: 3rem 1.5rem;
}
.icons {
    font-size: 3.5rem;
    color: #ef8172;
    margin-bottom: 1rem;
}
    .icons:hover {
        color: #ff4c68;
    }

h3 {
    font-family: "Montserrat-bold";
    font-size: 1.5rem;
}

p {
    color: #8f8f8f;
}

/* Testimonial section */

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;

}

/* press */

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}

